@charset "utf-8";
/* UMT-AONE UNIQUE */
.duckling { padding-left:20px;
	background:url(../images/logo-duckling.png) no-repeat;
}

.ROL-small-black { padding-left:100px;
	background:url(../images/logo-rol.png) no-repeat left -40px; }

#content-side #dPassport-intro { border-bottom:none; }
#content-side .intro p,
#content-side #dPassport-intro p { margin:1em; text-indent:2em; color:#666; line-height:1.5em; }

#ROLHeadImage {
	background:url(../images/rol-headImg.jpg) no-repeat -25px -30px;
	height:480px;
	margin:-1px 0 0 0;
	border-bottom:1px solid #ccc;
	border-top-left-radius:5px;
	-moz-border-radius-topleft:5px; 
	-webkit-border-top-left-radius:5px;
}

#ROLRegister { width:133px; height:45px; margin:5px auto 2em; display:block;
	background-image:url(../images/register.png); background-repeat:no-repeat;
	cursor:pointer;
}
#ROLRegister:hover { background-position:left -45px; }

#ROLLogin { text-shadow:0 0 0; filter:dropshadow(); }

#ROL-feature td h4 { margin-bottom:0.5em; }
#ROL-feature td p { text-indent:2em; color:#666; }
#ROL-feature-content, #ROL-feature-share, #ROL-feature-cloud {
	padding-left:25px;
}

#aboutUs > table { margin-bottom:1.5em; }
#aboutUs > table  td { padding:3px 1em; }
#aboutUs > table  td  p { text-indent:2em; color:#666; }

a.link-cas, a.link-cnic, a.link-cerc, a.link-duckling, a.link-csp, a.link-rol-old {
	display:block; width:200px; height:50px;
	background-image:url(../images/link.jpg);
	background-repeat:no-repeat;
}
a.link-cas { background-position:0 0; }
a.link-cnic { background-position:0 -200px; }
a.link-cerc { background-position:0 -300px; }
a.link-duckling { background-position:0 -400px; }
a.link-csp { background-position:0 -700px; }
a.link-rol-old { background-position:0 -500px; }
a.link-cas:hover { background-position:0 -50px; }
a.link-cnic:hover { background-position:0 -250px; }
a.link-cerc:hover { background-position:0 -350px; }
a.link-duckling:hover { background-position:0 -450px; }
a.link-csp:hover { background-position:0 -750px; }
a.link-rol-old:hover { background-position:0 -550px; }

/* COPY FROM AONE UILIB.CSS */
.ui-wrap {
	font-size:10pt;
	font-family:Helvetica, Calibri, Arial, sans-serif;
}

.ui-wrap p {
		line-height:1.3em;
		margin:0.5em;
	}
.ui-wrap h3, .ui-wrap h4 {
		font-family: Cambria, Times New Roman, serif;
		padding:3px 0.5em;
	}
.ui-text-note {
	color:#666;
	font-size:0.9em;
}
table.ui-table-layout, table.ui-table-form, table.ui-table-form-2col {
	margin:5px auto;
	border-collapse:collapse;
}
table.ui-table-layout, table.ui-table-layout td, table.ui-table-layout th,
	table.ui-table-form, table.ui-table-form td, table.ui-table-form th,
	table.ui-table-form-2col, table.ui-table-form-2col td, table.ui-table-form-2col th {
		border:0px;
}

table.ui-table-form th {
	padding-top:3px;
	text-align:right;
	vertical-align:top;
	background-color:transparent;
}
table.ui-table-form.space th {
	padding-right:2em;
}
table.ui-table-form td {
	text-align:left;
	vertical-align:top;
}
table.ui-table-form td.submit, table.ui-table-form-2col td.submit {
	text-align:right;
	padding:10px;
}

/* 表单控件组 */
.ui-wrap input, .ui-wrap textarea {
	font-family: Times New Roman, '宋体', sans-serif;
	font-size:11pt;
}

.ui-wrap select {
	padding:2px 3px;
	height:23px;
	margin:3px; 
}

.ui-wrap input[type=text], 
.ui-wrap input[type=password] {
	width:12em;
	padding:2px 3px;
	height:18px;
}
input[type=text].ui-textInput-long {
	width:20em !important;
}
input[type=text].ui-textInput-xLong {
	width:25em !important;
}
input[type=text].ui-textInput-short {
	width:5em !important;
}
input[type=text].ui-textInput-xshort {
	width:2em !important;
}
input[type=text].ui-textInput {
	width:12em !important;
}
input[type=text].ui-textInput-web {
	width:20em;
	font-family:Lucida Console, Courier New, Courier;
}

.ui-wrap textarea, textarea.ui-textarea {
	line-height:1.2em;
	width:25em;
	height:6em;
}
textarea.ui-textarea-small {
	width:25em;
	height:2.5em;
}
textarea.ui-textarea-large {
	width:32em;
	height:15em;
}

.ui-wrap label {
	cursor:pointer;
}
.ui-wrap label input[type=radio],
	.ui-wrap label input[type=checkbox] {
	margin-right:0.5em;
}


.ui-wrap input[type=button], .ui-wrap input[type=submit],
	input[type=button].ui-button, input[type=submit].ui-button {
	font-size:1em;
	cursor:pointer;
}
input[type=button].ui-button-small, input[type=submit].ui-button-small {
	font-size:9pt;
}
input[type=button].ui-button-large, input[type=submit].ui-button-large {
	font-size:11pt;
}

/* 图标按钮 */
a.ui-iconButton {
	display:inline-block;
	margin:2px 5px;
	padding-left:18px;
	cursor:pointer;
	text-decoration:none;
}
a.ui-iconButton:hover { text-decoration:underline; }

a.ui-iconButton.duckling {
	background:url(../images/duck-18.png) no-repeat;
}

.ui-RTCorner {
	/* 标题栏右上角附属信息框 */
	float:right;
	margin:3px;
}
.ui-clear {
	clear:both;
}

/* COPY FROM AONE BASE.CSS */
/* FRAMEWORK */
body{ margin:0 auto; overflow-y:scroll;
	#overflow-x:hidden; #overflow-y:auto;
}
div.ui-wrap { width:1000px; margin:0 auto; }
div.ui-wrap a { color:#05a; text-decoration:none; cursor:pointer; }
div.ui-wrap a:hover { text-decoration:underline; }
div.ui-wrap h4 { font-size:1.1em; }
div.ui-wrap hr { border:none; border-top:1px solid #ccc; }

#aoneBanner { height:40px; margin-top:0; padding:1px 0; }
#aoneBanner #aoneUserbox { margin-right:10px; }

#content, .content { font-size:10pt; padding:1px 0; }
#content .content-through, .content .content-through,
	#content #content-title, content .content-title { width:100%; clear:both; }
#content #content-major, .content .content-major,
	#content .content-major { width:750px; float:left; border-right:1px solid #ccc;  min-height:300px;
		overflow-x:hidden; overflow-y:hidden;
	}
#content #content-side, .content .content-side,
	#content .content-side { width:247px; float:right; border-left:1px solid #ccc; margin-left:-1px; }

#footer { text-align:center; color:#666; font-size:9pt; padding:1em 0;
	text-shadow:1px 1px 1px #d5d5d5;
}
div.ui-wrap #footer a { color:#666; text-decoration:none; border-bottom:1px dotted #666; }
div.ui-wrap #footer a:hover { color:#333; text-decoration:none; border-bottom:1px solid #333; }

/* DECO */
/* overall */
#userbox, #header, #content, .content,
.std {
	font-family: Helvetica, Calibri, '宋体', Arial, sans-serif;
	background-color:#fff;
	margin:1em 0;
	box-shadow:0px 1px 2px #666;
	-moz-box-shadow:0px 1px 2px #666;
	-webkit-box-shadow:0px 1px 2px #666;
}

div.ui-wrap h1, div.ui-wrap h2, div.ui-wrap h3, div.ui-wrap h4, #banner #bannerTitle
{ font-family:Cambria, Georgia, '微软雅黑', '黑体', Times New Roman, sans-serif; }

body { background-color:#ddd; }
#aoneBanner { background:#f5f5f5 url(../images/vpx-60-f5grad3.gif) repeat-x bottom;
	border:1px solid #ccc; border-top:none;
	border-bottom-left-radius:4px; border-bottom-right-radius:4px;
	-moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px;
	-webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px;
}

#aoneBanner #ROL { width:150px; height:30px; margin:5px 0 0 20px; float:left;
	background:url(../images/logo-rol.png) no-repeat;
}
.content,
#content {  background-color:#f9f9ee;
	border:1px solid #ccc;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
}
.content { background-color:#fff; }
#content #content-title { background-color:#fff;
/*	background:#fff url(../images/vpx-70-f-f5.gif) repeat-x bottom; */
}
#content #content-major, #content .content-major,
	#content .content-menu-body { background-color:#fff; }
#content .content-through { background-color:#fff; padding:1px 0; }

#content-title { border-bottom:1px solid #ccc;
	font-family:Cambria, Georgia, Times New Roman, serif;
	padding-bottom:10px;
}
#content-title h1, #content-title h2, #content h1 { margin:0; padding-left:1em; }
#content-title h1 { font-weight:bold; min-height:1.5em; line-height:1.5em; padding-top:10px; }
#content-title h2 { font-size:1.3em; font-weight:normal; min-height:1.4em; line-height:1.4em; padding-top:5px; margin-bottom:-10px; }

/* Message boxes : float */ 
.msgFloat { position:absolute; padding:0.5em 1em; display:none;
	max-width:40em;
	font-weight:normal;
	background-color:#f9f9ee; border:1px solid #ccc;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	box-shadow:0 1px 2px #999; -moz-box-shadow:0 1px 2px #999; -webkit-box-shadow:0 1px 2px #999;
}

/* Large Buttons */
.ui-wrap .largeButtonHolder input[type=button], .ui-wrap .largeButtonHolder input[type=submit],
.ui-wrap a.largeButton,
.ui-wrap input[type=button].largeButton, .ui-wrap input[type=submit].largeButton {
	/* use ".ui-wrap" to overwrite uiLib.css */
	margin:2px 5px; padding:2px 0.5em;
	color:#fff; font-size:11pt; line-height:normal;
	font-family: Helvetica, Calibri, '黑体', Arial, sans-serif;
	border:1px solid #000;
	background-color:#333;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	box-shadow:0px 1px 2px #999; -moz-box-shadow:0px 1px 2px #999; -webkit-box-shadow:0px 1px 2px #999;
	#padding:4px 6px 0px 6px;
}
.largeButtonHolder input[type=button]:hover, .largeButtonHolder input[type=submit]:hover,
a.largeButton:hover,
input[type=button].largeButton:hover, input[type=submit].largeButton:hover {
	background-color:#444;
	box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;
}
.ui-wrap a.largeButton:hover { text-decoration:none; }
.largeButtonHolder input[type=button]:active, .largeButtonHolder input[type=submit]:active,
a.largeButton:active,
input[type=button].largeButton:active, input[type=submit].largeButton:active {}

.ui-wrap a.largeButton { padding:2px 9px;
	#padding:4px 10px 3px 10px; #position:relative; #top:-6px; }

/* .dim is used for cancel or unrecomended options, hence not availabe for input[type=submit] */
.largeButtonHolder input[type=button].dim,
a.largeButton.dim,
input[type=button].largeButton.dim {
	background-color:#999; border-color:#666;
}
.largeButtonHolder input[type=button].dim:hover,
a.largeButton.dim:hover,
input[type=button].largeButton.dim:hover { background-color:#9f9f9f; }


.ui-wrap .largeButtonHolder input[type=button].newUser, .ui-wrap input[type=button].largeButton.newUser,
	.ui-wrap .largeButtonHolder input[type=submit].newUser, .ui-wrap input[type=submit].largeButton.newUser {
	padding-left:27px;
	background-image:url(../images/icon-new-21.gif);
	background-repeat:no-repeat;
	background-position:6px 3px;
}

.ui-wrap .largeButtonHolder input[disabled], .ui-wrap input[disabled].largeButton {
	opacity:0.2; filter:alpha(opacity=20);
	box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;
}
/* Holders : for filter, switch, picker, etc. */
div.filterHolder, div.switchHolder, div.pickerHolder,
	div.procedureHolder,
	div.toolHolder, div.subHolder {
		padding:5px 0; border-bottom:1px solid #ccc; overflow:auto;
		#overflow:visible;
	}
div.filterHolder, div.switchHolder,
	div.procedureHolder,
	div.toolHolder {
		background:#f5f5f5 url(../images/vpx-60-f5grad3.gif) repeat-x bottom;
	}
	.ui-wrap .toolHolder a, .ui-wrap .toolHolder a:hover { text-decoration:none; }
div.subHolder { background-color:#f7f7f7; }

.holderCenter { text-align:center; }
div.holderMerge { height:40px; margin-top:-65px; border-top:1px solid #e5e5e5;
	#display:none;
}
/* Side Blocks : Appear in side bar as divisions */
#content-side .sideBlock,
	.content-side .sideBlock { padding:0; padding-bottom:1px; border-bottom:1px solid #ccc; background-color:#fff; }
#content-side .sideBlock h4,
	.content-side .sideBlock h4 { margin:0; padding:0.2em 0.5em;
		line-height:1.5em;
		color:#666; font-weight:normal;
		text-shadow:1px 1px 1px #fff; filter:dropshadow(color=#fff, offx=1, offy=1);
		background:#f5f5f5 url(../images/vpx-60-f5grad3.gif) repeat-x bottom;
		border-bottom:1px solid #ccc;
	/*	box-shadow:0px 1px 2px #999; -moz-box-shadow:0px 1px 2px #999; -webkit-box-shadow:0px 1px 2px #999;
	 */
	 }
#content-side .sideBlock .ui-title-child,
	.content-side .sideBlock .ui-title-child { margin-left:0; }
#content-side .sideBlock .dataTable,
	.content-side .sideBlock .dataTable { table-layout:fixed; }

#content-side .sideBlock .dataTable td,
	.content-side .sideBlock .dataTable td { overflow:hidden;
		white-space:nowrap;
	}

/* EXPAND UILIB */
#content table.ui-table-form { margin:1em auto; }
#content table.ui-table-form th, #content table.ui-table-form td {
	padding-bottom:1em;
}
