@charset "utf-8";
/*
VERSION:	dHome 1.0
AUTHOR:		Vera. zhangshixiang@cnic.cn / shivera2004@163.com
DATE:		Oct, 2012
*/

/*footer*/
.footer {
    border-top: 1px solid #E5E5E5; font-size: 13px; margin-top: 25px;
    padding: 5px 0 20px; background:#f8f8f8;
}
.footer .container {padding:10px 0; margin:0 auto;}
.footer .footer-left,.footer .footer-mid,.footer .footer-right{
	float:left; height:160px; border-right:1px solid #ccc; overflow:hidden;
	padding:0 15px;
}
.footer ul.footer-nav {
    list-style: none outside none;
    margin:15px 0 0 5px; padding:0;
}
.footer ul.footer-nav li {padding: 0; margin:3px 0; width:97%; float:left;}
.footer ul.footer-nav li a {color: #999; text-decoration: none;}
.footer ul.footer-nav li a:hover {text-decoration: underline;}

.footer .footer-left {width:418px;}
.footer .footer-left .cstnet-logo {
	display:block; width:200px; height:50px;
	background:url(../images/logo_cstnet.png) -14px 0 no-repeat;
}
.footer .footer-left p {color:#999; margin:7px 0; padding:0;}
.footer .footer-left p a {color:#999;}
.footer .footer-left p a:hover {text-decoration:underline;}
.footer .footer-left p span.escience-logo-s {background:url(../images/logo-rol-beta.png) 0 -38px no-repeat; display:inline-block; width:65px; height:18px;}
.footer .footer-mid {width:320px; }
.footer .footer-mid ul.footer-nav li {float:left; width:47%;}
.footer .footer-mid a.footer-logo {
    background: url("../images/escience-30-b.png") no-repeat scroll 0 0px transparent;
    margin-top:10px;  height: 40px;  width: 90px; display:block; margin-bottom:-10px;
}
.footer .footer-right {width:150px; border-right:none; }
.footer .footer-right p {color:#333; margin:25px 0 5px; font-weight:bold; padding:0;}