/*
version:umt-coremail 3.0
author:zhangshixiang@cstnet.cn
data:2015-11-30
*/

.MainR {width:300px; height:300px;margin-top:0; background:url(../images/coremail30LoginBg.jpg) repeat-y #dceef5}
#logArea .inptr {padding-left:0px;}
#logArea .indent {padding-left:70px;}
