/*
version:umt-embed-pc
author:zhangshixiang@cstnet.cn
data:2014-05-14
*/

body.login.embed_pc {background:none;}
body.login.embed_pc .login.container {border:none; box-shadow:none; margin:0; width:500px; height:280px; background:transparent;}
.form-horizontal.oauth .control-label {width:60px; margin-left:20px; *margin-left:20px;}
.form-horizontal.oauth .controls {margin-left:90px; *margin-left:45px; *padding-left:5px}

@media screen and (min-width: 0) {
	.form-horizontal.oauth .control-label {margin-left:0;}
	.form-horizontal.oauth .controls {margin-left:70px;}
}