/*
version:umt-embed
author:zhangshixiang@cstnet.cn
data:2014-04-23
*/

/*inline layout esp for dhome index*/
@media (min-width:661px) and (max-width: 700px) {
	.cst-container {margin-top:50px;}
	.cst-controls.thirdLogin a img {width:auto; height:20px;}
	.cst-controls span.third {width:90px; display:inline-block;}
}

