#header {
	background-image:url(../images/banline1.gif);
	background-repeat:repeat-x;
	border-bottom:0 solid #FFFFFF;
	border-top:0 solid #FFFFFF;
	height:100px;
	padding-left:0;
	position:static;
	width:100%;
}

#header .titlebox {
	color:#FFFFFF;
	float:left;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:19.5pt;
	font-weight:bold;
	height:50px;
	padding:0 0 0 40px;
}

#footer {
	clear: both;
	background: #dcdcdc;
	width: 100%;
	height: 32px;
	border-top: 1px solid #ffffff;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	padding-top: 8px;
	text-align: center;
}

#footer a {
	font-family: "Microsoft Yahei", "宋体", "arial";
	font-size: 9pt;
	color: #0033FF;-
	text-decoration: none;
}

#footer a:hover {
	color: #FF6600;
	text-decoration: underline;
}
#footer .product{
	color:rgb(0,0,0);
	font-weight:bold;
}

#footer .version{
	color:#666666;
}

#footer .duckling{
	font-size: 10pt;
	font-family: 'Microsoft Yahei','宋体','arial';
}

.warning{
	color:red;
}
.loginbox{
	margin-left:auto;
	margin-right:auto;
	border:1px solid #C3D9FF;
	background-color:#FFFFFF;
	width:350px;
}

.loginbox .innerbox{
	margin:3px;
	background-color:#e5ecf9;
}
.small_link{
	font-size:10px;
}

.innerbox form{
	margin:0;
}
.loginbox .innerbox table{
	margin-left:auto;
	margin-right:auto;
}
.loginbox .innerbox td{
	font-size:10.5pt;
	font-family:Arial,Helvetica,sans-serif;
}
.loginbox .innerbox .logininput{
	width:150px;
	height:20px;
	font-size:10.5pt;
}

.remindbox{
	margin-left:auto;
	margin-right:auto;
	width:298px;
}

.remindbox .remindpass{
	width:200px;
}

.remindbox .btn{
	width:90px;
}