/*
version:umt-coremail
author:zhangshixiang@cstnet.cn
data:2013-04-27
*/

.MainR {
    white-space: nowrap;
    width:288px;
    margin-left:-20px;
    min-height:100px;
    *margin-bottom:-10px;
}
.loginBtn {padding-left:55px; margin-top:5px;}
.MainR .Header {
    height: 15px;
    padding: 0 0 0 64px;
}
.MainR .Header .iconL {
    background-image: url("iconL.gif");
    float: left;
    height: 26px;
    margin-right: 12px;
    width: 26px;
}
.MainR .Header .title {
    color: #5B5B5B;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
}
#logArea .Error {
    color: #FF0000;
    height: 15px;
    margin: 0;
    padding: 45px 0 2px 120px;
    font-size: 12px;
}
#logArea .inptr {
    height: 30px;
    margin: 5px 0 0 0px;
    padding: 6px 0 12px 10px;
    *margin-bottom:-10px;
}
#logArea .inptr .wholeLine {width:100%; text-align:left; display:block; padding-left:65px}
#logArea .inptr .wholeLine input[type="checkbox"] {margin:0 5px 3px 0}
#logArea .inptr:last-child {border:none;}
#logArea .indent {
    height: auto;
    padding-left: 75px;
}
#logArea .inpreg {
    height: 15px;
}
#logArea .inpreg hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF #FFFFFF #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    margin-left: 48px;
}
#logArea .inpreg a {
    color: #000;
}
#logArea label {
    color: #444;
    float: left;
    font-size: 12px;
    line-height: 35px;
    margin-right: 5px;
    text-align: right;
    width: 55px;
    font-weight:bold;
}
#logArea label.for {
    float: none;
}
.Button {
	background:#34689E;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8fc3ea), to(#34689e));
    background: -moz-linear-gradient(center top , #8FC3EA, #34689E) repeat scroll 0 0 transparent;
    border: 1px solid #598cb6;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    padding:0;
    width:80px;
    height:40px;
    font-size:16px;
    font-weight:bold;
    border-radius:5px;
}

.input {
    font-family:helvetica,arial,sans-serif;
    font-size: 16px;
    padding: 0px;
    width: 220px;
    height:36px;
    margin:-5px 3px;
    border:1px solid #B5B5B5 ;
    border-radius:3px;
    font-weight:bold;
    background:#fff;
    background:-moz-linear-gradient(center top , #F3F3F3, #FFFFFF) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#F3F3F3), to(#FFF));
}
.sup a {
		vertical-align:super; color:#333; font-size:10px; font-family:Arial, Helvetica, sans-serif;
		display:inline-block; text-decoration:none;}
		
a.tendaysHelp {
	width:20px; height:20px; display:inline-block;
	background:url("../images/icon_help.gif") no-repeat scroll 0 -30px transparent
}
#logArea .loginHint{
	margin:10px 0 0 70px;
	color:#65696C;
	font-size:14px;
	line-height:20px;
}

#logArea .loginHint a{
	margin:0 2px 0 2px;
}