
.navigate{
	width:200px;
	background-color:#f8f8f8;
	border:	1px solid #d0d0d0;
	padding-top:40px;
	vertical-align:top;
	height:500px;
}

.dialog{
	font-size:12px;
}

.functionlist{
	background-color:#FFFFFF;
	width:183px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

.functionlist ul{
	padding:0;
}
.functionlist ul li{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

.contenttitle{
	color:#000000;
	font-size:24px;
}

.container{
	background-color:#f8f8f8;
	border:	1px solid #d0d0d0;
	width:100%;
}
.content{
	margin-left:20px;
}

.container{
	padding: 20px 38px 29px 50px;
}
.blockcontent{
	padding-top:20px;
	padding-bottom:20px;
	color:#a0a0a0;
	background-color:#fbfbfb;
	border:1px solid #d0d0d0;
	font-size:14px;
}

.blockcontent table{
	margin:0 auto;
	width:310px;
}
.blocktitle{
	margin-top:18px;
	font-size:12px;
}
#searchinput{
	border-top:1px solid #d0d0d0;
	border-left:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	border-right:0px;
	height:17px;
}
#searchbutton{
	border-top:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	background-color:#FFFFFF;
	padding:2px;
	height:17px;
	width:17px;
	valign:bottom;
	margin-left:-5px;
}

table.blockcontrols{
	width:90%;
	margin:0 auto;
}
.fieldtitle{
	text-align:right;
	vertical-align:top;
	width:20%;
}
.blockcontent .zebra .top{
	height:27px;
	background:transparent  url(../images/tit_bg07.gif) repeat-x scroll 0 0;
	border-color:#AACCEE;
	border-style:solid;
	border-width:0 1px 0;
	font-weight:bold;
	text-align:center;
}
.zebra{
	border-collapse:collapse;
	empty-cells:show;
}
.zebra td{
	border:1px solid #CCCCCC;
}

#resetpasspword{
	background-color:#A0A0A4;
	width:400px;
}

#resetpasspword table{
	margin:0 auto;
	width:90%;
}

.blockcontent .layout{
	width:100%;
}

#pagecontrol{
	text-align:right;
	margin:0 auto;
	width:90%;
}

#sessions{
	width:90%;
}
.zebra tr.bg {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F6F8F9 none repeat scroll 0 0;
}