@charset "utf-8";
/*
	CSTNET WiFi
	author:zhangshixiang@cstnet.cn
	data:2015-01-20
*/
body.wifi {margin:0; padding:0; background:url(../images/body_bg.png) repeat-x #ebeded}
.clear {clear:both;}
.wifi.container {
	background:#fefefe; border:1px solid #ddd; border-shadow:0px 0px 5px #ccc; 
	margin-top:80px; padding:20px 5% 60px;
}

h3.title {
	font-family:Arail,"微软雅黑"; font-size:1.3em;
	border-bottom:1px solid #ddd;
}
span.icon_wifi {
	background:url(../images/icon_wifi.png) 0 0 no-repeat; display:inline-block; 
	width:27px; height:22px; margin:0 5px -3px 5px;
}
p.subHint {color:#999; font-size:0.9em;line-height:30px;}
p.subTitle {color:#666; font-size:1.1em;line-height:30px;}
p.agree {margin:5px 0; font-size:0.9em;}
p.agree input[type="checkbox"] {margin-bottom:6px;}
p.agree a#agreement {cursor:pointer;}
p.center {text-align:center}
.agreementBox {border:1px solid #ddd; background:#eef; padding:10px; font-size:0.9em; color:#333; display:none;}
.agreementBox p {margin:5px 0;}
.agreementBox ul {list-style:none; padding:0;margin:0 0 0 15px;}
.agreementBox ul li {padding:3px 0}
.controls.padding {padding-top:5px;}
h4.related {font-family:Arial,"微软雅黑"; font-size:1.1em; background:#f5f5f5; padding:8px; font-weight:normal; color:#666}
ul.wifi-links {margin:20px 0; list-style-type:circle; list-style-position:inside;}
ul.wifi-links li {margin:7px; color:#08a}
ul.wifi-links li a {}


@media screen and (max-width: 767px) {
	.mayHidden {display:none;}
	.wifi .form-horizontal {padding:0;}
}
